<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orznewbie.dao.FeedbackMapper">
    <insert id="insert">
        INSERT INTO feedback(sid, info) VALUES(#{sid}, #{info})
    </insert>

    <select id="queryAll" resultType="feedback">
        SELECT * FROM feedback
    </select>
</mapper>
